.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.paperConnexion {
    padding: 2em 4em 2em 4em;

    Button {
        margin: 1em;
    }

    .inputText {
        margin: 0.5em;
    }
}

.connexionContainer,
.inscriptionContainer {
  padding: 2em;
  text-align: center;
}
