.container {
    padding-bottom: 3em;
}

.filmsContainer {
    display: flex;
    flex-wrap: wrap;
}

.title {
    margin-top: 5px;   
}

.filmContainer {
    margin: 10px;
    width: 250px;
    text-align: center;
}

.filmContainer:link,
.filmContainer:visited {
    color: inherit;
    text-decoration: none;
}

.filmImage {
    width: 300px;
}
