.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.paperInscription {
  display: flex;
  padding: 0em 3em 0em 3em;
  justify-content: center;
  margin-bottom: 3em;

  Button,
  .inputText,
  .languageSelect, .genreSelect {
    margin: 0.5em;
  }
}

.inscriptionContainer {
  padding: 2em;
  text-align: center;
}

.selectedGenres {
  width: 40vw;
}

.deleteIcon {
  margin-left: 0.25em;
  vertical-align: center;
}

.error {
  color: red;
}