.navMenu {
    position: sticky !important;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgb(65, 150, 190) !important;
}

.searchBar {
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
    background-color: white;
}